[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
xlwings = "*"
pandas = "*"
zenodo-get = "*"
numpy = "*"
openpyxl = "*"
pick = "*"

[dev-packages]

[requires]
